 html,

 /* body {
  background: #141414;
  color: #ffffff;
  }
  
  .movie-app > .row {
    overflow-x:auto;
    flex-wrap: nowrap;
    flex-shrink:1;
   
  }
  */
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} 

#searchContainer {
  display: flex;
  justify-content: calc(50-25);
}
#container {
  display: flex;
  overflow-x:auto;
  flex-wrap: wrap;
  justify-content: center;
}
